body {
    background: #F2EFE5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
#header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 25px;
    background-color: #C7C8CC;
    height: 120px;
}

#bookList {
    display: flex;
    justify-content:flex-start;
    gap: 30px;
    flex-wrap: wrap;
}
.book {
    border: 1px solid black;
    border-radius: 8px;
    height: 220px;
    width: 180px;
    text-align: center;
    background-color: #C7C8CC;
}

button {
    border-radius: 8px;
    font-size: 14px;
    padding: 4px;
}

#createBook {
    background-color: #E3E1D9; 
}

.remove {
    background-color: #E3E1D9;
}

